<li id="blog-<%= blog.id %>">

<%if blog.user.image %>
	<%= image_tag(blog.user.image.url,size: "40x40")%>
	<% end %>
<span class="user"><%= link_to blog.user.name, blog.user %></span>

<h2 class="content">Title:<%=blog.title%></h2>
<span class="content"><%= blog.content %></span>
<span class="timestamp">
Posted on <%=blog.created_at %> .
<% if current_user==blog.user %>
<%= link_to "delete", blog, method: :delete,
data: { confirm: "You sure?" } %>
<%= link_to "edit", edit_blog_path(blog),method:"get",
data: { confirm: "You sure?" } %>
<% end %>
</span>
</li>
